<h2>コーヒー品目リスト作成</h2>
<form [formGroup]= "coffeeForm" novalidate>
    <div>
        <label>品名：<input formControlName="name"></label>
    </div>
    <div>
        <label>テイスト：<input formControlName="taste" size="50"></label>
    </div>
    <div>
        <span *ngFor="let hotColdStatus of hotColdStatuses">
            <input type="radio" formControlName="hotCold" [value]="hotColdStatus">{{hotColdStatus}}
        </span>
    </div>
    <div>
        <span *ngFor="let item of addsSel">
            <input type="checkbox" (change)="onCheckChanged(item, $event)"> {{item}}
        </span>
    </div>
    <div>
        <select formControlName="nut">
            <option *ngFor="let nut of nutSel" [value]="nut">{{nut}}</option>
        </select>
    </div>
</form>
<p>フォーム入力値:{{coffeeForm.value| json }}</p>