<h2>コーヒー品目リスト作成</h2>
<form [formGroup]= "coffeeForm" novalidate>
    <div>
        <label>品名：<input formControlName="name"></label>
    </div>
    <div>
        <label>テイスト：<input formControlName="taste" size="50"></label>
    </div>
    <div>
        <span>
            <input type="radio" formControlName="hotCold" value="Hot">Hot
        </span>
        <span>
            <input type="radio" formControlName="hotCold" value="Cold">Cold
        </span>
    </div>
</form>
<p>フォーム入力値:{{coffeeForm.value| json }}</p>